<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.google.cordova.admob"
	version="2.7.5">
      
    <name>AdMob Plugin Pro</name>
	<description>Powerful Ad Plugin for Google AdMob and DFP. Easy use, show mobile Ad with single line of JavaScript. Stable and up to date with latest SDK. Compatible with Cordova CLI, PhoneGap Build, Intel XDK/Crosswalk, Google ChromeApp, IBM Worklight.</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>rjfun,admob,google,ad</keywords>
    <repo>https://github.com/floatinghotpot/cordova-admob-pro.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-admob-pro/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/AdMob.js" name="AdMob">
        <clobbers target="window.AdMob" />
    </js-module>

	<dependency id="com.rjfun.cordova.extension" />
	
    <!-- android -->
    <platform name="android">
        <dependency id="com.google.playservices" url="https://github.com/floatinghotpot/google-play-services" commit="r19" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
			    android:name="com.google.android.gms.ads.AdActivity"
			    android:theme="@android:style/Theme.Translucent" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          </config-file>
          
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="com.rjfun.cordova.admob.AdMobPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/AdMobMediation.java" target-dir="src/com/rjfun/cordova/admob" />
        <source-file src="src/android/AdMobPlugin.java" target-dir="src/com/rjfun/cordova/admob" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="AdMob">
                 <param name="ios-package" value="CDVAdMobPlugin" />
                 <param name="onload" value="true" />
             </feature>
         </config-file>
         <header-file src="src/ios/CDVAdMobPlugin.h"/>
         <source-file src="src/ios/CDVAdMobPlugin.m"/>
         <header-file src="src/ios/AdMobMediation.h"/>
         <source-file src="src/ios/AdMobMediation.m"/>
         
         <framework src="src/ios/GoogleMobileAds.framework" custom="true" />
         
         <framework src="AdSupport.framework" />
         <framework src="AudioToolbox.framework" />
         <framework src="AVFoundation.framework" />
         <framework src="CoreGraphics.framework" />
         <framework src="CoreTelephony.framework" />
         <framework src="EventKit.framework" />
         <framework src="EventKitUI.framework" />
         <framework src="Foundation.framework" />
         <framework src="MessageUI.framework" />
         <framework src="QuartzCore.framework" />
         <framework src="StoreKit.framework" />
         <framework src="SystemConfiguration.framework" />
         <framework src="UIKit.framework" />
	</platform>

     <!-- Windows Phone 8 -->
     <platform name="wp8">
          <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
               <Capability Name="ID_CAP_LOCATION" />
          </config-file>
          <config-file target="config.xml" parent="/*">
               <feature name="AdMob">
                    <param name="wp-package" value="AdMobPlugin"/>
               </feature>
          </config-file>
          <source-file src="src/wp8/AdMobPlugin.cs" />
          <source-file src="src/wp8/AdMobOptions.cs" />
          
          <framework src="src/wp8/GoogleAds.dll" custom="true" />
     </platform>

     <!-- Windows Phone 8.1+ -->
     <platform name="windows">
          <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
               <Capability Name="ID_CAP_LOCATION" />
          </config-file>
          <config-file target="config.xml" parent="/*">
               <feature name="AdMob">
                    <param name="wp-package" value="AdMobPlugin"/>
               </feature>
          </config-file>
          <source-file src="src/wp8/AdMobPlugin.cs" />
          <source-file src="src/wp8/AdMobOptions.cs" />
          
          <framework src="src/wp8/GoogleAds.dll" custom="true" />
     </platform>

</plugin>
