<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.google.cordova.admob"
	version="2.3.2">
      
    <name>AdMob PluginPro with Mediations</name>
	<description>Most Powerful Ad Plugin for Cordova/PhoneGap. Show Ad with single line of JavaScript. Maximize revenue with mediation to AdMob, DoubleClick, iAd, Facebook Audience Network, Flurry, Millennial Media, InMobi, Mobfox, and much more.</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>rjfun,ad,admob,google,play,services,iad,flurry,mmedia,mobfox,inmobi,dfp</keywords>
    <repo>https://github.com/floatinghotpot/cordova-admob-pro.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-admob-pro/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/AdMob.js" name="AdMob">
        <clobbers target="window.AdMob" />
    </js-module>

	<dependency id="com.rjfun.cordova.ad"/>
	<dependency id="com.google.admobsdk"/>
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="com.rjfun.cordova.admob.AdMobPlugin"/>
            </feature>
        </config-file>
          
        <source-file src="src/android/cordova-admob.jar" target-dir="libs" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="AdMob">
                 <param name="ios-package" value="CDVAdMobPlugin" />
                 <param name="onload" value="true" />
             </feature>
         </config-file>
         <source-file src="src/ios/libCordovaAdMob.a" framework="true" compiler-flags="-force_load"/>
	</platform>

</plugin>
